.EditorNode {
	width: 200px;
	height: 100px;
	position: absolute;
}

.Connection {
	position: absolute;
}

#Toolbar 
{
	height: 40px;
	width: auto;
	background-color: rgb(21, 132, 67);

	display: flex;
	flex-direction: row;
}

#GridContainer 
{
	background-color: rgba(242, 246, 250,1);
	width: auto;
	height: auto;
	overflow: hidden;
}